.container {
  border-color: var(--main-blue);
  border-style: solid;
  border-width: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* TODO: why is this needed ? */
  z-index: -99;
}

.icon {
  color: var(--main-blue);
  font-size: 2em;
}
