REACT_APP_SHOCK_ENCRYPTION_ECC=true
REACT_APP_INTRO_PARAGRAPHS=["If you bought a node and didn't get a channel please email us or contact us through telegram", "Telegram: <a href=\"https://t.me/Shockwallet\">click here</a>", "email: <a href=\"mailto:fake@email.com\">fake@email.com</a>"]