.container {
  /* Expected to be inside <FullScreen /> which has display:flex */
  flex-grow: 1;
  text-align: center;
}

.container > * {
  margin-left: auto;
  margin-right: auto;
}

.container-scrolls {
  overflow-y: scroll;
  overflow-x: hidden;
}
