.dialog-page {
  padding-top: 93px;
  background-image: url(../../../images/dialog-bg.svg);
  background-size: cover;
  background-position: left center;
}

.dialog-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.auth-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.back-btn {
  position: absolute;
  left: 36px;
  top: 36px;
}

.commit-hash {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: var(--light-gray);
  text-align: right;
  font-size: 11px;
  z-index: -1;
}
