.message {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: 15px 20px;
  overflow: hidden;
}

.message-received {
  justify-content: flex-start;
}

.message-content {
  position: relative;
  display: inline-flex;
  border-radius: 25px;
  background-color: var(--main-blue);
  line-height: 22px;
  font-size: 16px;
  padding: 4px;
  font-weight: bold;
  word-break: break-word;
  max-width: 80%;
}

.message-content::before {
  content: "";
  border: 13px solid transparent;
  border-top: 26px solid var(--main-blue);
  position: absolute;
  right: 0;
  bottom: -4px;
  transform: rotate(-55deg) translate(-2%, 45%);
}

.message-received .message-content {
  background-color: var(--main);
}

.message-received .message-content::before {
  right: initial;
  left: 0;
  transform: rotate(55deg) translate(2%, 45%);
  border-top-color: var(--main);
}

.message-text {
  padding: 6px 14px;
  padding-bottom: 4px;
}

.message-text::after {
  content: "";
  display: inline-block;
  width: var(--message-timestamp-safe-area);
  height: 1em;
}

.timestamp {
    position: absolute;
    right: 18px;
    bottom: 0px;
    font-size: 10px;
    opacity: 0.7;
    font-weight: 500;
}