.chat-message {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: 15px 20px;
  overflow: hidden;
}

.chat-message-received {
  justify-content: flex-start;
}

p.chat-message-text {
  position: relative;
  display: inline-flex;
  padding: 16px 18px;
  border-radius: 38px;
  background-color: var(--main-blue);
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
  word-break: break-word;
  max-width: 80%;
}

p.chat-message-text::before {
  content: "";
  border: 13px solid transparent;
  border-top: 26px solid var(--main-blue);
  position: absolute;
  right: 0;
  bottom: -4px;
  transform: rotate(-55deg) translate(-2%, 45%);
}

.chat-message-received p.chat-message-text {
  background-color: var(--main);
}

.chat-message-received p.chat-message-text::before {
  right: initial;
  left: 0;
  transform: rotate(55deg) translate(2%, 45%);
  border-top-color: var(--main);
}
