/**
 * @format
 */

.flex {
  display: flex;
}

.row {
  composes: flex;
  flex-direction: row;
}

.col {
  composes: flex;
  flex-direction: column;
}

.center-align {
  composes: flex;
  align-items: center;
}

.center-justify {
  composes: flex;
  justify-content: center;
}

.col-centered {
  composes: col;
  composes: center-align;
}

.space-around {
  composes: flex;
  justify-content: space-around;
}

.space-between {
  composes: flex;
  justify-content: space-between;
}

.row-centered {
  composes: row;
  composes: center-align;
}

.center-align-self {
  align-self: center;
}

.flex-grow-1 {
  composes: flex;
  flex-grow: 1;
}

/* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
.height-full {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.width-auto {
  width: auto;
}

.width-100 {
  width: 100%;
}

/* -------------------------------------------------------------------------- */

.font-white {
  color: white;
}

.font-black {
  color: black;
}

/* -------------------------------------------------------------------------- */

.rotate90Ccw {
  transform: rotate(-90deg);
}

/* -------------------------------------------------------------------------- */

@value PAD_H: 1em;

/**
 * The most common horizontal padding in app. Only applied to the left.
 */
.common-padding-left {
  padding-left: PAD_H;
}

/**
 * The most common horizontal padding in app. Only applied to the right.
 */
.common-padding-right {
  padding-right: PAD_H;
}

/**
 * The most common horizontal padding in app. Applied to both left and right
 * sides.
 */
.common-padding-h {
  composes: common-padding-left;
  composes: common-padding-right;
}

/* -------------------------------------------------------------------------- */

/**
 * The most common horizontal padding in app. Only applied to the left. But
 * margin instead of padding.
 */
.common-margin-left {
  margin-left: PAD_H;
}

/**
 * The most common horizontal padding in app. Only applied to the right. But
 * margin instead of padding.
 */
.common-margin-right {
  margin-right: PAD_H;
}

/**
 * The most common horizontal padding in app. Applied to both left and right
 * sides. But margin instead of padding.
 */
.common-margin-h {
  composes: common-margin-left;
  composes: common-margin-right;
}

/* -------------------------------------------------------------------------- */

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

/* -------------------------------------------------------------------------- */

.corners-rounded {
  border-radius: 24;
}

.children-spaced-4 > *:not(:first-child):not(:last-child) {
  margin-left: 2px;
  margin-right: 2px;
}

.children-spaced-4 > *:first-child {
  margin-right: 2px;
}

.children-spaced-4 > *:last-child {
  margin-left: 2px;
}

.children-spaced-8 > *:not(:first-child):not(:last-child) {
  margin-left: 4px;
  margin-right: 4px;
}

.children-spaced-8 > *:first-child {
  margin-right: 4px;
}

.children-spaced-8 > *:last-child {
  margin-left: 4px;
}

.children-spaced-12 > *:not(:first-child):not(:last-child) {
  margin-left: 6px;
  margin-right: 6px;
}

.children-spaced-12 > *:first-child {
  margin-right: 6px;
}

.children-spaced-12 > *:last-child {
  margin-left: 6px;
}

.children-spaced-16 > *:not(:first-child):not(:last-child) {
  margin-left: 8px;
  margin-right: 8px;
}

.children-spaced-16 > *:first-child {
  margin-right: 8px;
}

.children-spaced-16 > *:last-child {
  margin-left: 8px;
}

.children-spaced-24 > *:not(:first-child):not(:last-child) {
  margin-left: 12px;
  margin-right: 12px;
}

.children-spaced-24 > *:first-child {
  margin-right: 12px;
}

.children-spaced-24 > *:last-child {
  margin-left: 12px;
}

.padding-0 {
  padding: 0px;
}

.padding-2 {
  padding: 2px;
}

.padding-4 {
  padding: 4px;
}

.padding-8 {
  padding: 8px;
}

.padding-12 {
  padding: 12px;
}

.padding-16 {
  padding: 16px;
}

.padding-24 {
  padding: 24px;
}

/* -------------------------------------------------------------------------- */

.flat-btn {
  /* brought over from .input-field */
  background-color: var(--input-black);
  color: rgba(var(--white-rgb), 0.77);
  border: 2px solid var(--btn-blue);
  font-family: "Poppins";

  -webkit-appearance: none;
  border-radius: 0%; /* safari */

  padding: 17px 25px;

  font-size: 14px;
}

.flat-btn-full-width {
  composes: flat-btn;
  composes: width-100;
}

.flat-btn-no-border {
  composes: flat-btn;
  border: none;
}

/* -------------------------------------------------------------------------- */

.font-size-4 {
  font-size: 4px;
}

.font-size-6 {
  font-size: 6px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

/* -------------------------------------------------------------------------- */

.absolute {
  position: absolute;
}

.horizontally-centered-absolute {
  composes: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.vertically-centered-absolute {
  composes: absolute;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
}

.absolute-stick-to-top {
  top: 0;
}

.absolute-stick-to-bottom {
  bottom: 0;
}

.absolute-stick-to-left {
  left: 0;
}

.absolute-stick-to-right {
  right: 0;
}

/* -------------------------------------------------------------------------- */

.opacity-full {
  opacity: 1;
}

.opacity-half {
  opacity: 0.5;
}

.opacity-none {
  opacity: 0;
}

.opacity-three-quarters {
  opacity: 0.75;
}

/* -------------------------------------------------------------------------- */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
