@import-normalize;

@font-face {
  font-family: shockicons;
  src: url("../fonts/icomoon.eot?hqhemx");
  src: url("../fonts/icomoon.eot?hqhemx#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?hqhemx") format("truetype"),
    url("../fonts/icomoon.woff?hqhemx") format("woff"),
    url("../fonts/icomoon.svg?hqhemx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: shockicons !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thin-back:before {
  content: "\e90c";
}
.icon-thin-wallet:before {
  content: "\e900";
}
.icon-thin-chat:before {
  content: "\e901";
}
.icon-thin-feed:before {
  content: "\e902";
}
.icon-thin-profile:before {
  content: "\e903";
}
.icon-solid-lightning:before {
  content: "\e904";
}
.icon-solid-help:before {
  content: "\e905";
}
.icon-solid-power:before {
  content: "\e906";
}
.icon-solid-profile:before {
  content: "\e907";
}
.icon-solid-scan:before {
  content: "\e908";
}
.icon-solid-spending-rule:before {
  content: "\e909";
}
.icon-solid-wallet:before {
  content: "\e90a";
}
.icon-solid-key:before {
  content: "\e90b";
}

* {
  box-sizing: border-box;
}

:root {
  /* Color variables prefixed with "-rgb" are in rgb format, 
     this way we can control the transparency for each color using rgba. 
     Example: `rgba(var(--main-blue-rgb), 0.8)` */
  --main-blue: #4285b9;
  --main-blue-rgb: 66, 133, 185;
  --loading-blue: #37536f;
  --loading-blue-rgb: 55, 83, 111;
  --btn-blue: #5383b4;
  --btn-blue-rgb: 83, 131, 180;
  --btn-blue-border: #edfdff;
  --btn-blue-border-rgb: 237, 253, 255;
  --text-blue: #64bbff;
  --text-blue-rgb: 100, 187, 255;
  --hovered-blue: #519cd4;
  --hovered-blue-rgb: 81, 156, 212;
  --pressed-blue: #396b94;
  --pressed-blue-rgb: 57, 107, 148;
  --pressed-blue-border: #2f5a7b;
  --pressed-blue-border-rgb: 47, 90, 123;
  --dark-blue: #212937;
  --dark-blue-rgb: 33, 41, 55;

  --text-white: #cccccc;
  --text-white-rgb: 204, 204, 204;
  --text-gray: #9c9c9c;
  --text-gray-rgb: 156, 156, 156;
  --input-white: #f2f2f2;
  --input-white-rgb: 242, 242, 242;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --white-smoke: #ebebeb;
  --white-smoke-rgb: 235, 235, 235;
  --light-gray: #a2a3a7;
  --light-gray-rgb: 162, 163, 167;
  --gray: #707070;
  --gray-rgb: 112, 112, 112;
  --dark-gray: #292929;
  --dark-gray-rgb: 41, 41, 41;

  --main: #1a2028;
  --main-rgb: 26, 32, 40;
  --secondary: #18191d;
  --secondary-rgb: 24, 25, 29;
  --background: #16191c;
  --background-rgb: 22, 25, 28;
  --input-black: #202020;
  --input-black-rgb: 32, 32, 32;
  --body-background: #292e35;
  --body-background-rgb: 41, 46, 53;
  --followers-background: #1a1e25;
  --followers-background-rgb: 26, 30, 37;
  --modal-head-bg: #2c333a;
  --modal-head-bg-rgb: 44, 51, 58;
  --modal-body-bg: #23282d;
  --modal-body-bg-rgb: 35, 40, 45;
  --black: #001220;
  --black-rgb: 0, 18, 32;

  --green: #57c46c;
  --green-rgb: 87, 196, 108;
  --yellow: #f5a623;
  --yellow-rgb: 245, 166, 35;
  --mist-blue: #27455c;
  --mist-blue-rgb: 39, 69, 92;
  --failure-red: #e23e3e;
  --failure-red-rgb: 226, 62, 62;
}

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main);
  min-width: 100%;
  min-height: none;
  color: white;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  overflow: hidden;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Remove PWA "tells" */
button,
input,
textarea {
  outline: none !important;
  border: 0;
  font-family: "Poppins", sans-serif;
}

button {
  user-select: none;
  font-weight: bold;
  background-color: var(--main-blue);
  color: white;
}

.unselectable {
  user-select: none;
}

.shock-form-button {
  width: 40%;
  text-align: center;
  padding: 18px;
  border-radius: 8px;
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
  font-weight: 600;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

p.shock-form-button-text {
  line-height: 1;
  font-weight: 500;
}

.shock-form-button-confirm {
  width: 40%;
  text-align: center;
  padding: 18px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--main-blue);
  color: white;
  border: 1px solid white;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.vertical-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-max {
  width: 100%;
  height: 100%;
}

@media (display-mode: standalone) {
  html,
  body {
    min-height: 100vh !important;
    height: 100% !important;
    bottom: 0;
    top: 0;
    background-color: var(--background);
  }
}
