.chat-messages-container {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
  background-color: var(--body-background);
}

.chat-bottom-bar {
  padding: 24px;
  padding-top: 10px;
  background-color: var(--main);
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 100px;
  background-color: var(--dark-gray);
}

.chat-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-color: var(--main);
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(var(--black), 0.25);
}

.chat-input-btn img {
  height: 70%;
}

.chat-input {
  background-color: transparent;
  border: 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  flex: 1;
  color: rgba(var(--white-rgb), 0.7);
  line-height: 20px;
  min-height: 20px;
  max-height: 60px;
  overflow: auto;
  resize: none;
}

.chat-input:empty::before {
  content: "Type anything...";
  color: rgba(var(--white-rgb), 0.3);
}

.chat-input:focus {
  outline: none;
  border: 0;
}

p.chat-permission-bar-title {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  /* width: 80%; */
  margin: auto;
}

.chat-permission-bar-text {
  text-align: center;
  /* width: 80%; */
  margin: 7px 0;
  font-size: 14px;
}

.chat-permission-bar {
  padding: 20px;
  background-color: var(--secondary);
}

.chat-permission-bar-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.chat-permission-bar-action {
  padding: 11px 32px;
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--btn-blue);
  border: 2px solid rgba(var(--btn-blue-border-rgb), 0.5);
  margin-right: 10px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.chat-permission-bar-action:hover {
  background-color: #3a6794;
  border: 2px solid rgba(var(--btn-blue-border-rgb), 0.3);
}

.chat-permission-bar-action:active {
  color: rgba(var(--white-rgb), 0.5);
  background-color: #33597e;
  border: 2px solid rgba(var(--btn-blue-border-rgb), 0.1);
}

.chat-permission-bar-action-decline {
  background-color: var(--failure-red);
  border-color: rgba(var(--btn-blue-border-rgb), 0.5);
}

.chat-permission-bar-action-decline:hover {
  background-color: #b82f2f;
  border-color: rgba(var(--btn-blue-border-rgb), 0.3);
}

.chat-permission-bar-action-decline:active {
  color: rgba(var(--white-rgb), 0.5);
  background-color: #a32a2a;
  border-color: rgba(90, 186, 199, 0.1);
}
