.container {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--main);
  border: 2px solid var(--main-blue);
}

.container:hover {
  cursor: pointer;
}

.icon {
  margin-right: 5px;
  font-size: 14px;
}

.text {
  font-size: 12px;
  color: var(--main-blue);
  font-weight: 600;
}
