.page-container.overview-page {
  background-color: var(--body-background);
}

.overview-header {
  position: relative;
  margin-bottom: 0;
  padding-top: 77px;
  padding-bottom: 37px;
  background-image: url(../../../images/waves-bg-dark.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.overview-balance-container {
  padding: 25px;
}

p.overview-balance-btc {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 4px;
  /* margin-right: -4px; */
  /* display: block; */
}

span.overview-balance-unit {
  font-size: 18px;
  letter-spacing: 0;
  margin-left: -4px;
}

p.overview-balance-usd {
  font-size: 12px;
  font-weight: bold;
  color: var(--main-blue);
  letter-spacing: 1px;
  margin-top: 4px;
}

.overview-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.overview-action {
  width: 48%;
  text-align: center;
  padding: 18px;
  border-radius: 8px;
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
  font-weight: 600;
  text-decoration: none;
}

p.overview-action-text {
  line-height: 1;
  font-weight: 500;
}

.overview-action.overview-action-request {
  background-color: var(--main-blue);
  color: white;
  border: 1px solid white;
}

.recent-activity-container {
  flex: 1 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.recent-activity-title {
  padding: 0px 22px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.lds-ellipsis div {
  background: var(--loading-blue) !important;
}

.pull-refresh-text {
  padding: 10px;
  text-align: center;
}

.intro-paragraph {
  text-align: center;
}
