.add-btn-container {
  --btn-radius: 56px;
  display: flex;
  position: absolute;
  bottom: 12px;
  right: 25px;
}

.add-btn-container.add-btn-round-container {
  width: var(--btn-radius);
  height: var(--btn-radius);
}

.add-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue);
  font-size: 16px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 2px 10px -4px rgba(var(--black-rgb), 0.2);
  user-select: none;
  transition: all 0.2s ease;
  z-index: 11;
}

.add-btn:hover {
  transform: translateY(-4px);
  background-color: var(--hovered-blue);
}

.add-btn-large {
  --btn-radius: 64px;
}

.add-btn-small {
  --btn-radius: 40px;
}

.add-btn-large > .add-btn {
  box-shadow: 0 2px 14px -4px rgba(var(--black-rgb), 0.16);
}

.add-btn-round {
  width: var(--btn-radius);
  height: var(--btn-radius);
  position: fixed;
  right: 1rem;
}

.add-btn-relative {
  position: relative;
}

.add-btn-extended {
  padding: 0px 18px;
  height: 45px;
}

.add-btn-small .add-btn-extended {
  height: var(--btn-radius);
}

.add-btn-nested {
  transform: rotateZ(0deg);
}

.add-btn-nested.add-btn-open {
  transform: rotateZ(45deg);
}

.add-btn i {
  font-size: 20px;
}

.add-btn-large i {
  font-size: 24px;
}

.add-btn-label {
  margin-left: 12px;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
}

.add-btn-options {
  display: flex;
  align-items: center;
  position: absolute;
  right: calc(100% - (var(--btn-radius) / 2));
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  overflow: hidden;
  z-index: 10;
  padding: 10px;
  padding-right: calc((var(--btn-radius) / 2) + 1rem);
  border-radius: 100px;
}

.add-btn-options.add-btn-options-open {
  visibility: visible;
}

.add-btn-options .add-btn-container {
  position: relative;
  margin-right: 15px;
  bottom: unset;
  right: -100%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.4s ease;
}

.add-btn-options.add-btn-options-open .add-btn-container {
  transform: translateX(0);
  opacity: 1;
  right: 0;
}

.add-btn-options .add-btn {
  background-color: white;
  color: var(--main-blue);
}
