.following-bar-container {
  display: flex;
  width: 100%;
  height: 115px;
  background-color: var(--followers-background);
  border: 1px solid rgba(var(--gray-rgb), 0.35);
}

.following-bar-list {
  display: flex;
  align-items: center;
  flex: 1;
  overflow-y: hidden;
  overflow-x: scroll;
}

.tabs-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
  background-color: var(--background);
}

.tab {
  font-weight: 500;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

.tab.active {
  color: var(--main-blue);
}

.posts-holder {
  flex: 1;
  background-color: var(--background);
  overflow: auto;
}
