.request-step-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  justify-self: flex-end;
}

.control {
  width: calc(50% - 7.5px);
  text-align: center;
  padding: 15px 0;
  border-radius: 6px;
  background-color: var(--black);
  font-weight: bold;
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
}

.control.next {
  background-color: var(--main-blue);
  color: white;
  border-color: white;
}

.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.indicator {
  width: 11px;
  height: 11px;
  background-color: #d1d1d1;
  border-radius: 25px;
  margin-right: 10px;
}

.indicator.indicator-active {
  background-color: var(--main-blue);
}

.indicators .indicator:last-of-type {
  margin-right: 0;
}
