.request-form-container {
  padding: 0 50px;
}

.request-step-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.request-page-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  justify-self: flex-end;
}

.request-page-control {
  width: calc(50% - 7.5px);
  text-align: center;
  padding: 15px 0;
  border-radius: 6px;
  background-color: #001220;
  font-weight: bold;
  border: 1px solid #4285b9;
  color: #4285b9;
}

.request-page-control.request-page-next {
  background-color: #4285b9;
  color: white;
  border-color: white;
}

.request-page-indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.request-page-indicator {
  width: 11px;
  height: 11px;
  background-color: #d1d1d1;
  border-radius: 25px;
  margin-right: 10px;
}

.request-page-indicator.request-page-indicator-active {
  background-color: #4285b9;
}

.request-page-indicators .request-page-indicator:last-of-type {
  margin-right: 0;
}
