.item {
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden; /* long descriptions */
}

.item:hover {
  cursor: pointer;
}

.item > *:first-child {
  margin-right: 4px;
}

.item > *:last-child {
  margin-left: 4px;
}

.item > *:not(:first-child):not(:last-child) {
  margin-left: 4px;
  margin-right: 4px;
}

.video-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--main-blue);
  border-style: solid;
  border-width: 1px;
}

.video-icon {
  font-size: 24px;
}

.title-and-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 12px;
  justify-content: space-around;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timestamp {
  color: var(--text-gray);
  font-size: 10px;
}
