.profile-page {
  background-color: var(--body-background);
}

.profile-container {
  position: relative;
  flex: 1;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
}

.profile-cover {
  height: 180px;
  width: 100%;
  background-color: var(--loading-blue);
  flex-shrink: 0;
}

.profile-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: -32px;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.profile-avatar {
  flex-shrink: 0;
  margin-right: 30px;
  margin-bottom: 11px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 31px;
}

.profile-desc {
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 20px;
}

.config-btn {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--main-black);
  border: 2px solid var(--main-blue);
}

.config-btn-icon {
  margin-right: 5px;
  font-size: 14px;
}

.config-btn-text {
  font-size: 12px;
  color: var(--main-blue);
  font-weight: 600;
}

.profile-choice-container {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
  background-color: var(--dark-blue);
  border: 2px solid var(--main-blue);
  margin-bottom: 7px;
  width: 98%;
  text-decoration: none;
  margin-left: 1%;
  margin-right: 1%;
}

.profile-choice-icon {
  font-size: 18px;
  color: var(--main-blue);
}

.profile-choice-text {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  line-height: 1;
}

.profile-qrcode {
  width: 180px;
  height: 180px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

p.profile-qrcode-desc {
  max-width: 270px;
  text-align: center;
  margin: auto;
  margin-bottom: 22px;
  opacity: 0.7;
}

.profile-clipboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.profile-clipboard-container:active {
  opacity: 0.6;
}

img.profile-clipboard-icon {
  margin-right: 12px;
}

p.profile-clipboard-text {
  font-weight: 600;
}

.publish-content-form {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
}
.publish-content-title {
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.publish-content-icon {
  font-size: 3em;
  margin-left: 1em;
}

.m-1 {
  margin: 1em;
}

.content-container {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.content-container > * {
  margin-top: 12px;
  margin-bottom: 12px;
}
