/* ADD MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.25s ease;
  z-index: 100;
}

.open {
  opacity: 1;
  visibility: visible;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--background-rgb), 0.72);
  z-index: 0;
}

.open .container {
  transform: translateY(0%);
  opacity: 0.9;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-height: 90%;
  background-color: var(--modal-body-bg);
  border-radius: 15px;
  transform: translateY(100%);
  opacity: 0;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.2s ease;
}

.container-no-full-width {
  max-width: 320px;
}

.form {
  width: 100%;
  padding-top: 15px;
}

.form .group {
  padding: 17px 25px;
}

.submit-btn {
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: 0;
  background-color: var(--main-blue);
  color: white;
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  opacity: 1;
  transition: all 0.25s ease;
}

.submit-btn:hover {
  background-color: var(--hovered-blue);
}

.submit-btn:active {
  opacity: 0.7;
}

.form .form-error {
  margin: 0 25px;
  margin-bottom: 5px;
}
