.advanced-channel-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.advanced-channel-ip {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 6px;
}

.advanced-channel-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.advanced-channel-name {
  line-height: 1;
  font-weight: bold;
  font-size: 16px;
}

.address-and-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advanced-channel-status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--green);

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.advanced-channel-status-offline {
  background-color: var(--failure-red);
}

.advanced-channel-address {
  font-size: 13px;
  line-height: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.advanced-channel-name {
  line-height: 1;
  font-weight: bold;
}

.advanced-channel-capacity-container {
  display: flex;
}

.advanced-channel-capacity {
  font-weight: 600;
  width: 50%;
  border-right: 2px solid white;
  font-size: 14px;
}

.advanced-channel-capacity-container .advanced-channel-capacity:last-of-type {
  text-align: right;
  border-right: 0;
}
