.transaction-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 22px;
  background-color: #212937;
  border: 1px solid #4285b9;
  margin-bottom: 7px;
}

.transaction-author-container {
  width: 40%;
  display: flex;
}

.transaction-avatar {
  width: 60px;
  height: 60px;
  margin-right: 5px;
  flex-shrink: 0;
  border-radius: 100px;
  background-color: #181e27;
}

p.transaction-author-username {
  font-weight: bold;
  margin-bottom: 5px;
  color: #9c9c9c;
}

p.transaction-author-text {
  font-size: 12px;
  color: #ebebeb;
  font-weight: 500;
}

.transaction-type {
  margin-right: 9px;
}

p.transaction-timestamp {
  font-size: 11px;
  color: #9c9c9c;
  text-align: right;
  line-height: 1;
  margin-bottom: 5px;
}

p.transaction-value-btc {
  font-size: 16px;
  text-align: right;
  line-height: 1;
  margin-bottom: 4px;
}

p.transaction-value-usd {
  font-size: 12px;
  color: #64bbff;
  text-align: right;
  font-weight: 600;
}

.recent-activity-entries {
  background-color: #16191c;
}
