.head {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid rgba(var(--white-rgb), 0.15);
  background-color: var(--modal-head-bg);
  flex-shrink: 0;
}

.head-close {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: var(--failure-red);
  transform: translate(25%, -25%);
  cursor: pointer;
}

p.head-title {
  font-weight: bold;
  color: rgba(var(--white-rgb), 0.85);
}
