.peer-container {
  padding: 12px 12px;
}

.peer-container:hover {
  cursor: pointer;
}

.has-divider {
  border-bottom: 1px solid white;
}

.advanced-peer-public-key {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sent-and-received {
  position: relative; /* needed for absolute line */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line {
  position: absolute;
  left: 50%;
  margin-left: -1px;
}

.advanced-peer-value {
  font-size: 13px;
}

span.peer-value-title {
  font-weight: bold;
}
