.peer-container {
  padding: 4px 12px;
}

.advanced-peer-public-key {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.advanced-peer-value {
  font-size: 14px;
}

span.peer-value-title {
  font-weight: bold;
}
